In [1]:
students=[]
def accept_students():
    name = input("Enter student name: ")
    roll_no = input("Enter student roll number: ")
    marks1 = float(input("Enter marks for subject 1: "))
    marks2 = float(input("Enter marks for subject 2: "))

    student = {
        "student_name": name,
        "student_roll_number": roll_no,
        "subject_1_marks": marks1,
        "subject_2_marks": marks2
    }

    students.append(student)
    print("Student data accepted.")

def display_students():
    if not students:
        print("No student data available.")
        return

    print("Student Data:")
    for student in students:
        print("Name:", student["student_name"])
        print("Roll Number:", student["student_roll_number"])
        print("Marks 1:", student["subject_1_marks"])
        print("Marks 2:", student["subject_2_marks"])
        print()

def search_student_by_name(name):
    found_students = []
    for student in students:
        if student["student_name"].lower() == name.lower():
            found_students.append(student)

    if not found_students:
        print("No student with the given name found.")
        return

    print("Student(s) Found:")
    for student in found_students:
        print("Name:", student["student_name"])
        print("Roll Number:", student["student_roll_number"])
        print("Marks 1:", student["subject_1_marks"])
        print("Marks 2:", student["subject_2_marks"])
        print()

def delete_student(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            students.remove(student)
            print("Student data deleted successfully.")
            return

    print("No student with the given roll number found.")

def update_student(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            print("Enter updated details for the student:")
            student["student_name"] = input("Enter updated name: ")
            student["student_roll_number"] = input("Enter updated roll number: ")
            student["subject_1_marks"] = float(input("Enter updated marks for subject 1: "))
            student["subject_2_marks"] = float(input("Enter updated marks for subject 2: "))
            print("Student data updated successfully.")
            return

    print("No student with the given roll number found.")

In [2]:
accept_students()

Enter student name: uttam
Enter student roll number: 566
Enter marks for subject 1: 80
Enter marks for subject 2: 90
Student data accepted.

In [3]:
accept_students()

Enter student name: megha
Enter student roll number: 575
Enter marks for subject 1: 90
Enter marks for subject 2: 99
Student data accepted.

In [6]:
accept_students()

Enter student name: sweta
Enter student roll number: 001
Enter marks for subject 1: 40
Enter marks for subject 2: 60
Student data accepted.

In [7]:
display_students()

Student Data:
Name: uttam
Roll Number: 566
Marks 1: 80.0
Marks 2: 90.0

Name: megha
Roll Number: 575
Marks 1: 90.0
Marks 2: 99.0

Name: sweta
Roll Number: 001
Marks 1: 40.0
Marks 2: 60.0

In [8]:
search_student_by_name("sweta")

Student(s) Found:
Name: sweta
Roll Number: 001
Marks 1: 40.0
Marks 2: 60.0

In [10]:
update_student("001")

Enter updated details for the student:
Enter updated name: sweta lina
Enter updated roll number: 001
Enter updated marks for subject 1: 30
Enter updated marks for subject 2: 80
Student data updated successfully.

In [11]:
display_students()

Student Data:
Name: uttam
Roll Number: 566
Marks 1: 80.0
Marks 2: 90.0

Name: megha
Roll Number: 575
Marks 1: 90.0
Marks 2: 99.0

Name: sweta lina
Roll Number: 001
Marks 1: 30.0
Marks 2: 80.0

In [12]:
delete_student("566")

Student data deleted successfully.

In [13]:
display_students()

Student Data:
Name: megha
Roll Number: 575
Marks 1: 90.0
Marks 2: 99.0

Name: sweta lina
Roll Number: 001
Marks 1: 30.0
Marks 2: 80.0